@page
@model TemplatesModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model.EmailTemplates)
        {
            <tr>
                <td>@template.Name</td>                
                <td>@template.Created</td>
                <td><a asp-page="/Template" asp-route-templatename="@template.Name">View</a></td>
                <td><a asp-page="/Templates" asp-page-handler="Delete" asp-route-templatename="@template.Name">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-default" role="button" asp-page="/Template">Add new</a>