@page
@model TemplatesModel
@{
    ViewData["Title"] = "Templates";
}

<p>Message: @Model.Message</p>

<ol>
    @foreach (var template in Model.EmailTemplates)
    {
        <li>@template.Name - @template.Created</li>
    }
</ol>